@font-face {
    
    font-family: fira-code;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/FiraCode-Regular.ttf');
}
.b {

    border: 1px solid white;
    color: white;
    width: 20rem;
    height: 20rem;
    border-radius: 12px;
    margin-bottom: -290px;
    transition: ease-in-out 90ms;
}
h1 {
    margin-bottom: 2rem;
}
h2 {
    margin-bottom: 1rem;
}
a {
    margin: 13px;
}
input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 12px;
    height: 3rem;
    width: 11rem;
    margin: 1rem;
    transition: ease-in-out 80ms;
}input:hover{ color: green; border-color: green; transition: ease-in-out 120ms; }

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 12px;
    height: 3rem;
    width: 6rem;
    margin: 1rem;
    transition: ease-in-out 80ms;
}button:hover{ color: green; border-color: green; transition: ease-in-out 120ms; }

body {

    margin: 4rem auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    margin-bottom: 1rem;
    background-color: black;
    font-family: fira-code;
    color: white;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    
  #user {

    max-width: 9em
  }

  .d {
    margin-top: 12rem;
    display: inline-flex;
  }


  .line {
    border-right: 2px solid white;
    color: white;
    font-family: "fira-code", monospace;
    text-align: center;
    margin: 1 auto;
    white-space: nowrap;
    overflow: hidden;
  }


  .typing-animation {

    animation: blinkCursor 500ms steps(40) infinite normal,
      typing 4s steps(40) 1s normal both;
      animation-iteration-count: infinite;
  }

  @keyframes typing {
    0% { width: 0em; }
    50% {  width: 16em;  }
    100% { width: 0em; }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: white;
    }
    to {
      border-right-color: transparent;
    }
  }